.button {
	display: inline-block;
	margin: $spacing--l auto;
	cursor: default;
	padding: $spacing--s $spacing--l;
	border-radius: $border__radius;
	text-align: center;
	border: $border--m solid $color__gray--xlight;
	color: $color__gray--xlight;
	width: 100%;
	margin: 0 auto;

	&:hover,
	&:active {
		color: $color__gray--xlight;
	}

	@media(min-width: $breakpoint--s) {
		margin-bottom: 0;
		width: auto;
	}

	&[href] {
		cursor: pointer;
		color: $color__white;
		transition: all $transition__speed--fast;
		border: $border--m solid $color__primary;
		background: $color__primary;

		&:hover,
		&:active {
			background: $color__primary--dark;
			border: $border--m solid $color__primary--dark;
		}
	}
}
