// GENERAL

html {

	// FONT FAMILY RESET
	font-family: $font__family--primary;

	color: $color__gray;

	// REM FONT SIZING RESET
	// So that 1rem = 10px
	font-size: 62.5%;
	font-size: 1.1rem;

	// Prevent webkit font scaling issues
	-webkit-text-size-adjust: 100%;

	@media(min-width: $breakpoint--s) {
		font-size: 1.3rem;
	}
}

body {

	// BODY MARGIN RESET
	margin: 0;
}

// IMAGES

img {
	max-width: 100%;
}

// BORDER BOX SIZING

*,
*:before,
*:after {
	box-sizing: border-box;
}

// BROWSER & BRANDING CONSISTENCY

// Change browser specific focus outlines to match branding
*:focus,
*:active {
	outline: 0;
}

// FORMS

input[type=tel],
input[type=email],
input[type=text],
input[type=url],
input[type=search]
textarea {
	-webkit-appearance: none;
	border: 0;
	font-size: $font__size--s;
	padding: 0 $spacing__xs;
	color: $color__gray--dark;
	border-radius: $border__radius;
	border: 2px solid $color__gray--xlight;

	&:focus {
		box-shadow: 0;
		border: 2px solid $color__primary;
	}
}

input[type=submit],
button {
	-webkit-appearance: none;
	background: transparent;
	transition: background $transition__speed--fast;
	border: 0;
	border-radius: $border__radius;
	padding: $spacing__s $spacing__l;
	background: $color__accent;
	color: $color__white;
	font-size: $font__size--s;

	&:hover,
	&:active {
		background: $color__accent--dark;
		color: $color__white;
		cursor: pointer;
	}
}

// SELECTION
::selection {
	background: $color__primary; // WebKit/Blink Browsers
	color: $color__white;
}

::-moz-selection {
	background: $color__primary; // Gecko Browsers
	color: $color__white;
}
